.slider {
    &_wrapper {
        display: none;
    }
    &_item {
        min-height: 450px;
        display: flex;
        flex-direction: column;
        padding: 280px 0 0 0;
        &:nth-child(1) {
            background: url('../img/image/slider/tastemakers.jpg') center (center/cover) no-repeat;
        }
        &:nth-child(2) {
            background: url('../img/image/slider/blog.jpg') center (center/cover) no-repeat;
        }
        &:nth-child(3) {
            background: url('../img/image/slider/list.jpg') center (center/cover) no-repeat;
        }
        &:nth-child(4) {
            background: url('../img/image/slider/baner.jpg') center (center/cover) no-repeat;
        }
    }
    
    &_title {
        min-height: 50px;
        width: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 0;
    }
    &_description {
        min-height: 45px;
        width: 490px;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #000;
    }
}